.card {
    margin-bottom: 80px;
}
.card .container {
    width: min(100% - 15px, 850px);
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.card .container .img-box {
    display: flex;
    align-items: stretch;
}
/* .card .container .img-box img {
    align-self: stretch;
} */
.card .container .contents {
    padding: 15px 0 5px;
}
.card .container .contents .location {
    margin: 10px 0;
    display: flex;
    gap: 15px;
    align-items: center;
}
.card .container .contents .location .location-box {
    display: flex;
    gap: 5px;
}
.card .container .contents .location .location-box i {
    color: #F55A5A;
}
.card .container .contents .location .location-box span {
    text-transform: uppercase;
    letter-spacing: 2px;
}
.card .container .contents .location p {
    position: relative;
    font-weight: 300;
    opacity: 0.5;
}
.card .container .contents .location p::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #918E9B;
}
.card .container .contents .title {
    margin: 5px 0 20px;
}
.card .container .contents .title h2 {
    color: #2B283A;
}
.card .container .contents .date {
    margin: 0 0 15px;
    color: #2B283A;
    font-weight: 600;
}
.card .container .contents .description {
    height: 45px;
    color: #2B283A;
}